<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/example.css">
		<title>View Matched Volunteers</title>
	</head>
	<body>
			<nav id="main-nav">
				<div class="nav-header">
						<button class="nav-toggle" id="nav-toggle-btn">&#9776;</button>
				</div>
				<div class="nav-links" id="nav-links">
						<a class="nav-link" href="/">Home</a>
						<% if (session && session.isAuthenticated) { %>
								<% if (session.organizer) { %>
										<a class="nav-link" href="/organizer/event-creation-page">Create Event</a>
										<a class="nav-link" href="/organizer/volunteer-matching-form">Match Volunteer</a>
								<% } else { %>
										<a class="nav-link" href="/user/user-profile-management">Profile</a>
										<a class="nav-link" href="/user/notifications">Notifications</a>
								<% } %>
								<a class="nav-link" href="/logout">Logout</a>
						<% } else { %>
								<a class="nav-link" href="/login">Log in</a>
						<% } %>
				</div>
		</nav>
		<section>
			<h1>Assign volunteers</h1>
			<!-- Personal info -->
			<table>
				<thead>
					<tr>
						<th>Event Name</th>
						<th>Volunteer Name</th>
						<th>RSVP Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% matches.forEach(function(match) { %>
						<tr>
							<td><%= match.event_name %></td>
							<td><%= match.full_name %></td>
							<td>
								<% const rsvpStatus = match.rsvp_status || 'N/A' %>
								<span class="rsvp-status <%= rsvpStatus.toLowerCase().replace(' ', '-') %>">
									<%= rsvpStatus %>
								</span>
							</td>
							<td class="eventActions">
								<button class="accept">Assign</button>
								<button>Ignore</button>
							</td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</section>

		<script src="/js/menu.js"></script>
		
	</body>
</html>