<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/example.css">
		<title>View Matched Volunteers</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/organizer/event-creation-page">Create Event</a>
			<a href="/organizer/volunteer-history">History</a>
		</nav>
		<section>
			<h1>Assign volunteers</h1>
			<!-- Personal info -->
			<table>
				<tr>
					<th>Volunteer</th>
					<th>Event</th>
					<th>Actions</th>
				</tr>
				<tr>
					<td><a href="/user/user-profile-management">John Doe</a></td>
					<td>Event 1</td>
					<td class="eventActions">
						<button class="accept">Assign</button>
						<button>Ignore</button>
					</td>
				</tr>
				<tr>
					<td><a href="/user/user-profile-management">Jane Doe</a></td>
					<td>Event 2</td>
					<td class="eventActions">
						<button class="accept">Assign</button>
						<button>Ignore</button>
					</td>
				</tr>
			</table>
		</section>
	</body>
</html>