<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer History</title>
    <link rel="stylesheet" href="/css/history.css">
</head>

<body>
  <div class="container">
    <h2>Volunteer History</h2>

    <table id="volunteer-history">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Event Date</th>
          <th>Required Skills</th>
          <th>Urgency</th>
          <th>Location</th>
          <th>Participation Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- Dynamic Javascript Events -->
      </tbody>
    </table>
  </div>

  <script src="/js/volunteer-history.js"></script>
</body>
</html>