<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/example.css">
		<title>View Matched Volunteers</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/organizer/event-creation-page">Create Event</a>
			<a href="/organizer/volunteer-history">History</a>
		</nav>
		<section>
			<h1>Assign volunteers</h1>
			<!-- Personal info -->
			<table>
				<tr>
					<th>Volunteer</th>
					<th>Event</th>
					<th>Actions</th>
				</tr>
				<% matches.forEach(function(match) { %>
					<tr>
						<td><a href="/user/user-profile-management"><%=match.full_name%></a></td>
						<td><%=match.event_name%></td>
						<td class="eventActions">
							<button class="accept">Assign</button>
							<button>Ignore</button>
						</td>
					</tr>
				<% }) %>
				<% if (matches.length == 0) { %>
					<tr>
						<td>No matches</td>
						<td>Create events or accounts to make matches</td>
						<td></td>
					</tr>
				<% } %>
			</table>
		</section>
	</body>
</html>