<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/example.css">
		<title>View Matched Volunteers</title>
	</head>
	<body>
		<%- include("../../components/navbar.ejs") %>
		<section>
			<h1>Assign volunteers</h1>
			<!-- Personal info -->
			<table>
				<tr>
					<th>Volunteer</th>
					<th>Event</th>
					<th>Actions</th>
				</tr>
				<% matches.forEach(function(match) { %>
					<tr>
						<td><a href="/user/user-profile-management"><%=match.user.fullName%></a></td>
						<td><%=match.event.name%></td>
						<td class="eventActions">
							<button class="accept">Assign</button>
							<button>Ignore</button>
						</td>
					</tr>
				<% }) %>
			</table>
		</section>
	</body>
</html>