<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/example.css">
		<title>View Matched Volunteers</title>
	</head>
	<body>
			<nav id="main-nav">
				<div class="nav-header">
						<button class="nav-toggle" id="nav-toggle-btn">&#9776;</button>
				</div>
				<div class="nav-links" id="nav-links">
						<a class="nav-link" href="/">Home</a>
						<% if (session && session.isAuthenticated) { %>
								<a class="nav-link" href="/organizer/event-creation-page">Create Event</a>
								<a class="nav-link" href="/user/notifications">Notifications</a>
								<a class="nav-link" href="/organizer/volunteer-history">History</a>
								<a class="nav-link" href="/logout">Logout</a>
						<% } else { %>
								<a class="nav-link" href="/login">Log in</a>
						<% } %>
				</div>
		</nav>
		<section>
			<h1>Assign volunteers</h1>
			<!-- Personal info -->
			<table>
				<tr>
					<th>Volunteer</th>
					<th>Event</th>
					<th>Actions</th>
				</tr>
				<% matches.forEach(function(match) { %>
					<tr>
						<td><a href="/user/user-profile-management"><%=match.full_name%></a></td>
						<td><%=match.event_name%></td>
						<td class="eventActions">
							<button class="accept">Assign</button>
							<button>Ignore</button>
						</td>
					</tr>
				<% }) %>
				<% if (matches.length == 0) { %>
					<tr>
						<td>No matches</td>
						<td>Create events or accounts to make matches</td>
						<td></td>
					</tr>
				<% } %>
			</table>
		</section>

		<script src="/js/menu.js"></script>
		
	</body>
</html>