<nav>
	<a href="/">Home</a>
	<% if (session && session.isAuthenticated) { %>
			<a href="/user/user-profile-management">Profile</a>
			<a href="/user/notifications">Notifications</a>
			<a href="/organizer/volunteer-history">History</a>
			<a href="/logout">Logout</a>
	<% } else { %>
			<a href="/login">Login</a>
	<% } %>
</nav>
