<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/example.css">
		<title>Manage User Profile</title>
		<script src="/js/userprefs-manage-skills.js"></script>
	</head>
	<body>
		<%- include("../../components/navbar.ejs") %>
		<div class="center">
			<article>
				<h1>Update your profile</h1>
				<!-- Personal info -->
				<div class="panelblock">
					<h2>Personal information</h2>
					<form>
						<label for="fullName">Full name</label>
							<input type="text" id="fullName" name="fullName" maxlength="50" value="<%-fullName%>" required>
							<br>
						<label for="address1">Address 1</label>
							<input type="text" id="address1" name="address1" maxlength="100" value="<%address1%>" required>
							<br>
						<label for="address2">Address 2</label>
							<input type="text" id="address2" name="address2" maxlength="100">
							<br>
						<label for="city">City</label>
							<input type="text" id="city" name="city" maxlength="100" value="<%city%>" required>
							<br>
						<label for="state">State</label>
							<select id="state" name="state">
								
							</select>
							<br>
					<br>
					<h2>Volunteer preferences</h2>
					<form>
						<label for="skillSelect">Skills</label>
							<label for="addSkill">
								<select id="skillSelect" name="skillSelect" required>
									<option value="skill1">Skill 1</option>
									<option value="skill2">Skill 2</option>
									<option value="skill3">Skill 3</option>
								</select>
							</label>
							<button type="button" id="addSkill" onclick="userprefsAddSkill()">Add Skill</button>
							<br>
							<!-- Where the skills get added -->
							<table id="selectedSkillTable" class="multiselect">
								<tr>
									<th>Skill</th>
									<th>Actions</th>
								</tr>
								<tr id="skill2">
									<td>Skill 2</td>
									<td><button type="button" class="fill cancel" onclick="userprefsRemoveSkill('skill2')">Remove</button></td>
								</tr>
							</table>
						<label for="preferences">Preferences</label>
							<textarea type="" id="preferences" name="preferences" maxlength="500"></textarea>
							<br>

						<!-- TODO: Make it so you can add more dates -->
						<label for="availability">Availability</label>
							<input type="date" id="availability" name="availability" maxlength="100" required>
							<br>
						<input type="submit" value="Update information">
					</form>
				</div>
			</article>
		</div>
	</body>
</html>